/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"),
       url("../fonts/pt-sans-v11-latin_cyrillic-regular.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/pt-sans-v11-latin_cyrillic-regular.woff") format("woff"), /* Modern Browsers */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"),
       url("../fonts/pt-sans-v11-latin_cyrillic-700.woff2") format("woff2"), /* Super Modern Browsers */
       url("../fonts/pt-sans-v11-latin_cyrillic-700.woff") format("woff"), /* Modern Browsers */
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.86em;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  background-color: #f2f2f2;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.content {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px -6px;
}

.header {
  position: relative;
  background-image: url("../img/intro-mask.svg"), url("../img/background-photo.jpg");
  background-color: #c7996d;
  background-size: 1200px 58px, cover;
  background-position: left 0px bottom -2px, left 0px top 0px;
  background-repeat: no-repeat, no-repeat;
}

.main-logo {
  position: absolute;
  left: 530px;
}

.main-navigation {
  font-weight: 700;
  text-align: center;
  background-color: #ffffff;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
}

.navigation-list li {
  width: 239px;
  padding: 15px 0;
}

.navigation-list li:nth-of-type(3n) {
  margin-left: auto;
}

.navigation-list a {
  color: #000000;
}

a.navigation-current {
  color: #766357;
}

.navigation-list a:hover:not(.navigation-current),
.navigation-list a:focus {
  color: #81b3d2;
}

.navigation-list a:active:not(.navigation-current) {
  color: rgba(0, 0, 0, 0.3);
}

.intro-picture {
  margin: 76px 372px 72px 370px;
}

.advantage-list {
  padding: 45px 0 40px;
  /* background-image: url("../img/background-mask.png"); */
  background-color: #ffffff;
  text-align: center;
}

.advantage-list h2 {
  display: inline-block;
  vertical-align: center;
  width: 440px;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: 700;
}

.advantage-list p {
  color: #333333;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.advantage-row {
  display: flex;
  align-items: stretch;
}

.advantage {
  flex: 0 0 400px;
  text-align: center;
  line-height: 1.5em;
  color: #ffffff;
  background-color: #81b3d2;
}

.color-different {
  color: #333333;
  background-color: transparent;
}

.advantage h3 {
  font-size: 21px;
  font-weight: 700;
}

.color-different h3 {
  color: #000000;
}

.advise {
  width: 400px;
  line-height: 1.5em;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
  background-repeat: no-repeat;
}

.advise:first-child {
  background-image: url("../img/icon-1.svg");
  background-position: left 162px top 60px;
}

.advise:nth-child(2) {
  background-image: url("../img/icon-3.svg");
  background-position: left 163px top 61px;
}

.advise:last-child {
  background-image: url("../img/icon-2.svg");
  background-position: top 56px right 168px;
}

.advise dt {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.hotel-search {
  background-color: #ffffff;
}

.find-hotel {
  width: 434px;
  text-align: center;
  line-height: 1.71em;
  color: #333333;
}

.find-hotel h2 {
  font-size: 30px;
  line-height: 1.2em;
  font-weight: 700;
  color: #000000;
}

.modal-button {
  width: 568px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  background-color: #766357;
  display: inline-block;
  vertical-align: bottom;
}

.modal-button:hover,
.modal-button:focus {
  background-color: #604e43;
}

.modal-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.searchform {
  width: 568px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.searchform .label {
  font-weight: 700;
  text-align: left;
  color: #000000;
}

.choose-date input {
  width: 346px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.choose-date input:hover {
  background-color: #ebebeb;
}

.choose-date input:focus {
  border: solid 2px #e5e5e5;
  background-color: #ffffff;
}

.calendar {
  position: absolute;
  width: 21px;
  height: 22px;
  font-size: 0px;
  display: inline-block;
  vertical-align: middle;
  background-color: #a9a9a9;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.counter input,
.counter button {
  width: 38px;
  background-color: #f2f2f2;
  border: none;
}

.counter input {
  text-align: center;
  font-weight: 700;
}

.counter button {
  font-size: 0;
}

.searchform-button {
  width: 458px;
  font-size: 21px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.searchform-button:hover,
.searchform-button:focus {
  background-color: #669ec0;
}

.searchform-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.footer {
  opacity: 0.9;
}

.hash-tag {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.visit-us a {
  font-size: 0;
  width: 46px;
  background-color: #81b3d2;
  display: inline-block;
  vertical-align: middle;
}

.visit-us a:hover,
.visit-us a:focus {
  background-color: #669ec0;
}

.visit-us a:active {
  background-color: #5496bd;
}

.copyright {
  text-align: center;
}

.copyright a {
  font-size: 0;
}

.catalog {
  text-align: left;
}

.filters {
  background-image: url("../img/filter-background.jpg");
  background-color: #81b3d2;
  background-size: 1200px 563px;
}

.filter fieldset {
  border: none;
  color: #ffffff;
}

.filter-legend {
  font-size: 16px;
  line-height: 1.31em;
  font-weight: 700;
}

.checkbox-label {
  line-height: 1.5em;
}

.price-count .label {
  line-height: 1.5em;
  text-align: center;
}

.show-results {
  width: 133px;
  height: 32px;
  line-height: 1.5em;
  color: #ffffff;
  border: solid 2px #ffffff;
  text-transform: uppercase;
  background: transparent;
}

.show-results:hover,
.show-results:focus {
  color: #000000;
  background-color: #ffffff;
}

.price-line {
  width: 317px;
  height: 2px;
  opacity: 0.3;
  background-color: #ffffff;
}

.price-line.active {
  width: 248px;
  opacity: 1;
}

.filter-results {
  background-color: #ffffff;
}

.hotels-found {
  font-size: 21px;
  font-weight: 700;
}

.sorting-header,
.sorting-type {
  font-size: 12px;
  line-height: 1.5em;
}

.sorting-type {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.sorting-type-current {
  color: #81b3d2;
  border: none;
}

.sorting-type:hover,
.sorting-type:focus {
  color: #81b3d2;
}

.sorting-type:active {
  color: #000000;
  border: none;
}

.sorting-mode {
  font-size: 0px;
  display: inline-block;
  vertical-align: middle;
}
/* Потом поменяю на svg */
.sorting-mode::before {
  border-style: solid;
  border-width: 10px 5.5px;
  border-color: #cacaca transparent;
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.ascending::before {
  border-top: 0px;
}

.descending::before {
  border-bottom: 0px;
}

.sorting-mode-current::before {
  border-color: #81b3d2 transparent;
}

.hotel-preview {
  border-top: 1px solid #f2f2f2;
}

.hotel-preview:last-child {
  border-bottom: 1px solid #f2f2f2;
}

.hotel-heading a {
  font-size: 21px;
  font-weight: 700;
  color: #000000;
}

.hotel-heading a:hover,
.hotel-heading a:focus {
  color: #81b3d2;
}

.hotel-heading a:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-attribute {
  line-height: 1.5em;
  color: #333333;
}

.preview-button {
  padding: 4px 17px;
  line-height: 1.5em;
  font-weight: 700;
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;
  display: inline-block;
  vertical-align: bottom;
}

.preview-button:hover,
.preview-button:focus {
  background-color: #669ec0;
}

.preview-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.preview-button:nth-child(2n) {
  padding: 4px 16px;
  background-color: #766357;
}

.preview-button:nth-child(2n):hover,
.preview-button:nth-child(2n):focus {
  background-color: #604e43;
}

.preview-button:nth-child(2n):active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.raiting {
  width: 110px;
  padding: 4px;
  padding-left: 16px;
  line-height: 1.5em;
  color: #666666;
  background-color: #f2f2f2;
  line-height: 1.5em;
  color: #666666;
  background-color: #f2f2f2;
  display: inline-block;
  vertical-align: bottom;
}

.catalog-footer {
  background-color: #ffffff;
}
